* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    background: #233637;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diamond {
    position: relative;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
}

/*
The border CSS rendering rule prioritizes the last defined border for the overlapping area:
    Top-left: border-left overlaps border-top.
    Top-right: border-top overlaps border-right.
    Bottom-right: border-right overlaps border-bottom.
    Bottom-left: border-bottom overlaps border-left.
*/

/*
    Replacement Colors for diamond challenge:
        yellow -> #1fb67c
        red -> #20bc7d
        blue -> #26c893
        darkgreen -> #55ddb9
*/
span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid red;
    border-bottom: 50px solid blue;
    border-left: 50px solid transparent;
}

span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 50px solid yellow;
    border-right: 50px solid red;
    border-bottom: 50px solid blue;
    border-left: 50px solid darkgreen;
}

span:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid yellow;
    border-right: 50px solid red;
    border-bottom: 50px solid blue;
    border-left: 50px solid darkgreen;
}

span:nth-child(4) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 50px solid yellow;
    border-right: 50px solid red;
    border-bottom: 50px solid blue;
    border-left: 50px solid darkgreen;
}